html,body{
height: 100%;
margin: 0;
padding:0;  

}
.container{
 height: 100%;
 width: 100%;   
display: flex;
flex-direction: row;
}
.a{
height: 100%;
width: 61.8%;
background-color: blue;
}
.b{
height: 100%;
width: 39.2%;
background-color: red;
}
.b1{
    height: 61.8%;
    width: 100%;
    background-color: green;
}
.b2{
    height: 39.2%;
    width: 100%;
    background-color: azure;
    display: flex;
    flex-direction: row;
}
.c1{
    height:100%;
    width: 39.2%;
    background-color: aqua;
}

.c2{
    height:100%;
    width: 61.8%;
    background-color:yellowgreen;
}
.d1{

    height:39.2%;
    width: 100%;
    background-color:cadetblue;
    display: flex;
    flex-direction: row;
}
.d2{

    height: 61.8%;
    width: 100%;
    background-color:darkgoldenrod;
}
.e1{

    height:100%;
    width: 61.8%;
    background-color:azure;
}
.e2{

    height: 100%;
    width: 39.2%;
    background-color:blueviolet;
    
}
.f1{

    height:61.8%;
    width: 100%;
    background-color:darkgrey;
}
.f2{

    height: 39.2%;
    width: 100%;
    background-color:darkolivegreen;
}